.actiontoolbar .action_item .item_icon {
	background-size:100% auto;
}
.actiontoolbar .action_item .item_label {
	font-size:11px;
}

.actiontoolbar.popped_up .action_item {
	background-color:white;
	color:black;
}

.actiontoolbar.popped_up {
	background-color:black;
}

.actiontoolbar.popped_up .action_item {
	background-color:rgb(0,0,0);
	color:white;
}

.actiontoolbar .action_item:hover {
	background-color:rgb(100,100,100);
	color:white;
}
.actiontoolbar .action_item:active {
	background-color:rgb(50,50,50);
	color:white;
}
.actiontoolbar .warning {
	color:blue;
}


