<div class="wisdmbanner">
	<div id="menuoutliner"></div>
	<div id="menuleft">
		<a class="outlined" id="home" href="javascript:;">WISDM</a>
		<!---<a class="outlined" id="terminal" href="#">Terminal</a>--->
	</div>
	<div id="menuright">		
		<a class="outlined" id="user">Log in</a>
		<div class="submenu">
			<div class="sign"></div>
			<ul class="loggedin">
				<!---<li><a class="loggedin" id="wisdmbanner_profile">View Profile</a></li>--->
				<li><a class="loggedin" id="wisdmbanner_logout">Log out</a></li>
				<li><a class="loggedin" id="wisdmbanner_loginas">Log in as...</a></li>
			</ul>
			<ul class="tologin">
				<li><input type="text" id="wisdmbanner_username" class="submenuitem tologin emptyfield" data-defaulttext="Username" value="Username"></li>
				<li><input type="password" id="wisdmbanner_password" class="submenuitem tologin emptyfield"  data-defaulttext="Password" value="Password"></li>
				<li><button class="tologin" id="wisdmbanner_loginbutton">Log in</button><li>
			</ul>
		</div>
	</div>
</div>

<div class="wisdmbanner_footer"></div>

<div class="wisdmbanner_status"></div>


